
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>安逸只不过是我们生活的一种提前消费</h1>
    </div>
</body>
</html>
